<div class="checkbox-container">
  <span class="p-float-label">
    <input
      class="checkbox-question"
      type="text"
      id="question"
      [(ngModel)]="item.question"
      pInputText
    />
    <label for="question">Question</label>
  </span>

  <textarea
    rows="5"
    style="width: 100%"
    pInputTextarea
    autoResize="autoResize"
    placeholder="Write your answer here"
    [(ngModel)]="item.textAnswer"
  ></textarea>


  <div class="action-buttons">
    <button
      pButton
      pRipple
      class="ml-auto p-button-outlined"
      (click)="saveQuestion()"
      type="button"
      label="Save question"
    ></button>
  </div>
</div>
