<div>
  <div class="p-mt-2">
    <div class="p-col" *ngFor="let col of columns; let i=index">
      <app-quiz-question
        (savedQuestion)="addQuestionToForm($event)"
        (removedQuestion)="removeQuestionFromForm($event)"
        [item]="col"
        [index]="i"
      ></app-quiz-question>
    </div>
  </div>



  <button
    class="ml-2"
    pButton
    pRipple
    type="button"
    icon="pi pi-plus"
    title="Add Column"
    (click)="addColumn()"
    [disabled]="columns.length === 20"
  ></button>
</div>
