<div class="mx-auto" style="width: 80%">
  <div class="p-mt-2">
    <div class="d-flex align-items-center p-field p-shadow-13 mx-auto p-3">
      <h5 class="mt-2 mr-4">Add link to material: </h5>
      <span class="p-float-label">
        <input
          id="float-input"
          type="text"
          pInputText
          [(ngModel)]="materialLink"
        />
        <label for="float-input">Link</label>
      </span>
    </div>
    <div
      class="p-question"
      *ngFor="let question of finalQuestions; let i = index"
    >
      <ng-template #checkboxTemplate>
        <div class="p-field p-shadow-13 mx-auto">
          <p-panel
            header="{{ !question.question ? 'Question' : question.question }}"
            [toggleable]="true"
            [collapsed]="question.collapsed"
          >
            <ng-template *ngIf="finalQuestions.length > 0" pTemplate="icons">
              <button
                pButton
                type="button"
                icon="pi pi-trash"
                class="p-button-rounded p-button-danger p-button-text"
                (click)="removeQuestion(question)"
              ></button>
            </ng-template>

            <div class="edit-question">
              <app-checkbox-question
                [item]="question"
                (savedQuestion)="addQuestionToForm($event, i)"
              ></app-checkbox-question>
            </div>
          </p-panel>
        </div>
      </ng-template>

      <ng-template #radioTemplate>
        <div class="p-field p-shadow-13 mx-auto">
          <p-panel
            header="{{ !question.question ? 'Question' : question.question }}"
            [toggleable]="true"
            [collapsed]="question.collapsed"
          >
            <ng-template *ngIf="finalQuestions.length > 0" pTemplate="icons">
              <button
                pButton
                type="button"
                icon="pi pi-trash"
                class="p-button-rounded p-button-danger p-button-text"
                (click)="removeQuestion(question)"
              ></button>
            </ng-template>

            <div class="edit-question">
              <app-radio-question
                [item]="question"
                (savedQuestion)="addQuestionToForm($event, i)"
              ></app-radio-question>
            </div>
          </p-panel>
        </div>
      </ng-template>

      <ng-template #textAreaTemplate>
        <div class="p-field p-shadow-13 mx-auto">
          <p-panel
            header="{{ !question.question ? 'Question' : question.question }}"
            [toggleable]="true"
            [collapsed]="question.collapsed"
          >
            <ng-template *ngIf="finalQuestions.length > 0" pTemplate="icons">
              <button
                pButton
                type="button"
                icon="pi pi-trash"
                class="p-button-rounded p-button-danger p-button-text"
                (click)="removeQuestion(question)"
              ></button>
            </ng-template>
            <app-text-question
              [item]="question"
              (savedQuestion)="addQuestionToForm($event, i)"
            ></app-text-question>
          </p-panel>
        </div>
      </ng-template>

      <ng-container
        *ngIf="question.type === 'checkbox'; then checkboxTemplate"
      ></ng-container>

      <ng-container
        *ngIf="question.type === 'radio'; then radioTemplate"
      ></ng-container>

      <ng-container
        *ngIf="question.type === 'text'; then textAreaTemplate"
      ></ng-container>
    </div>
  </div>

  <button
    class="ml-2"
    pButton
    pRipple
    type="button"
    label="Create quiz"
    title="Create quiz"
    (click)="finishQuiz()"
    [disabled]="finalQuestions.length <= 0"
  ></button>

  <button
    class="ml-2"
    pButton
    pRipple
    type="button"
    icon="pi pi-plus"
    title="Add Column"
    (click)="menu.toggle($event)"
    [disabled]="finalQuestions.length > 20"
  ></button>
  <p-slideMenu
    #menu
    [model]="items"
    [popup]="true"
    [viewportHeight]="200"
  ></p-slideMenu>
</div>
