<div class="m-4">
  <h5>Upload a lesson for the students</h5>
  <p-fileUpload
    name="demo[]"
    (onUpload)="onUpload($event)"
    customUpload="true"
    (uploadHandler)="myUploader($event)"
    accept="image/*"
    maxFileSize="1000000"
    fileLimit="1"
    [showCancelButton]="false"
  >
    <ng-template pTemplate="content">
      <ul *ngIf="uploadedFiles.length">
        <li *ngFor="let file of uploadedFiles">
          {{ file.name }} - {{ file.size }} bytes
        </li>
      </ul>
    </ng-template>
  </p-fileUpload>

 <h5>Already uploaded files</h5>

 
  <!-- <div className="Recent">
    <p className="Recent__Title">Recently uploaded file</p>
    <div className="ImageBox" *ngIf="recentImage">
      <div className="CaptionBox">
        <p className="ImageBox__Caption">Caption</p>
        <span className="ImageBox__CaptionValue">{{
          recentImage.caption
        }}</span>
      </div>
      <img
        src="{'http://localhost:8080/lesson/image/'+ {{recentImage.filename}}}"
        alt="recent-image"
        className="Recent__Image"
      />
    </div>
  </div> -->
</div>
