<div class="m-4">
  <h5>Upload a lesson for the students</h5>
  <p-fileUpload
    name="demo[]"
    (onUpload)="onUpload($event)"
    customUpload="true"
    (uploadHandler)="myUploader($event)"
    accept=".pdf,.doc,.docx"
    maxFileSize="1000000"
    fileLimit="1"
    [showCancelButton]="false"
  >
    <ng-template pTemplate="content">
      <ul *ngIf="files.length">
        <li *ngFor="let file of files">
          {{ file.name }} - {{ file.size }} bytes
        </li>
      </ul>
    </ng-template>
  </p-fileUpload>

  <h5>Already uploaded files</h5>
  <div class="d-flex">
    <div *ngFor="let file of uploadedFiles">
      <button
        class="ml-3"
        pButton
        type="button"
        [label]="file._id"
        icon="pi pi-download"
        (click)="downloadFile(file.filename)"
      ></button>
    </div>
  </div>

  <!-- <div className="Recent">
    <p className="Recent__Title">Recently uploaded file</p>
    <div className="ImageBox" *ngIf="recentImage">
      <div className="CaptionBox">
        <p className="ImageBox__Caption">Caption</p>
        <span className="ImageBox__CaptionValue">{{
          recentImage.caption
        }}</span>
      </div>
      <img
        src="http://localhost:8080/lesson/image/{{recentImage.filename}}"
        alt="recent-image"
        className="Recent__Image"
        width="200px"
      />
    </div>
  </div> -->
</div>
