<div class="m-4">
  <div
    *ngFor="let question of quiz; let i = index"
    class="p-shadow-10 p-3 mb-4"
  >
    <ng-template #checkboxTemplate>
      <h4>{{ question.question }}</h4>
      <div
        *ngFor="let checkbox of question.answers"
        class="p-field-checkbox d-flex align-content-center"
      >
        <p-checkbox
          name="groupname{{ i }}"
          inputId="{{ i }}"
          value="{{ checkbox._id }}"
          [(ngModel)]="answer[i]"
          (onChange)="updateAnswers(i)"
        ></p-checkbox>
        <label>{{ checkbox.label }}</label>

        <div class="ml-auto" pTooltip="{{checkbox.message}}">
          <i class="{{ checkbox.status }}" [style.color]="checkbox.color" ></i>
        </div>
      </div>
    </ng-template>

    <ng-template #radioTemplate>
      <h4>{{ question.question }}</h4>
      <div
        *ngFor="let radio of question.answers"
        class="p-field-checkbox d-flex align-content-center"
      >
        <p-radioButton
          name="groupname{{ i }}"
          inputId="{{ i }}"
          value="{{ radio._id }}"
          [(ngModel)]="answer[i]"
          (onClick)="updateAnswers(i)"
        ></p-radioButton>
        <label>{{ radio.label }}</label>

        <div class="ml-auto" pTooltip="{{radio.message}}">
          <i class="{{ radio.status }}" [style.color]="radio.color"></i>
        </div>
      </div>
    </ng-template>

    <ng-container *ngIf="question.type === 'checkbox'; then checkboxTemplate">
    </ng-container>

    <ng-container *ngIf="question.type === 'radio'; then radioTemplate">
    </ng-container>
  </div>

  <button
    pButton
    pRipple
    [disabled]="isTestTaken"
    type="button"
    label="Finish quiz"
    title="Finish quiz"
    (click)="finishQuiz()"
  ></button>
</div>
