<div *ngIf="userData" class="user-page-container p-3">
  <div>
    <div class="row">
      <div class="col-lg-3">
        <div class="p-shadow-20 p-4 h-100">
          <div class="d-flex user-details">
            <div class="row d-flex mb-1">
              <div class="col d-flex justify-content-center">
                <p-avatar
                  image="{{ image }}"
                  styleClass="p-mr-2"
                  size="xlarge"
                  shape="circle"
                ></p-avatar>
                <p-fileUpload
                *ngIf="userId === ''"
                  #uploader
                  mode="basic"
                  name="demo[]"
                  accept="image/*"
                  fileLimit="1"
                  customUpload="true"
                  (uploadHandler)="onBasicUpload($event)"
                ></p-fileUpload>
              </div>
              <div class="col d-flex flex-column mt-2 justify-content-star">
                <p-tag class="mr-2" value="Full Name: "></p-tag>
                <span class="mr-2">{{
                  userData.userDescription.fullname
                }}</span>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="p-shadow-20 p-4 h-100">
          <div>
            <div class="d-flex flex-column">
              <div class="d-flex align-items-center">
                <p-tag class="mr-auto" value="Bio: "></p-tag>
                <button
                  *ngIf="userId === ''"
                  pButton
                  pRipple
                  pTooltip="Edit bio"
                  tooltipPosition="top"
                  type="button"
                  icon="pi pi-pencil"
                  class="p-button-rounded p-button-text ml-3"
                  (click)="isBioEdit = true"
                ></button>
              </div>
              <div *ngIf="!isBioEdit">
                <span class="pl-1 mr-auto">{{
                  userData.userDescription.bio
                }}</span>
              </div>

              <div *ngIf="isBioEdit">
                <span class="p-float-label">
                  <textarea
                    id="float-input"
                    rows="3"
                    class="w-100"
                    pInputTextarea
                    [(ngModel)]="userData.userDescription.bio"
                  ></textarea>
                  <label for="float-input">Edit bio</label>
                </span>
                <button
                  pButton
                  pRipple
                  type="button"
                  label="Submit"
                  class="p-button-outlined"
                  (click)="editBio(userData.userDescription.bio)"
                ></button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col mt-3">
        <div class="row">
          <div class="p-shadow-20 p-4 w-100">
            <div>
              <h3 class="px-3">Series Statistics</h3>
              <div class="progress mx-3">
                <div
                  pTooltip="Completed"
                  tooltipPosition="top"
                  class="progress-bar bg-completed"
                  role="progressbar"
                  [ngStyle]="{
                    width: calculateProgress(
                      userData.userStatistics.showStatistics.finished,
                      userData.userStatistics.showStatistics.total
                    )
                  }"
                >
                  {{ userData.userStatistics.showStatistics.finished }}
                </div>
                <div
                  pTooltip="Watching"
                  tooltipPosition="top"
                  class="progress-bar bg-watching"
                  role="progressbar"
                  [ngStyle]="{
                    width: calculateProgress(
                      userData.userStatistics.showStatistics.watching,
                      userData.userStatistics.showStatistics.total
                    )
                  }"
                >
                  {{ userData.userStatistics.showStatistics.watching }}
                </div>
                <div
                  pTooltip="Considering"
                  tooltipPosition="top"
                  class="progress-bar bg-considering"
                  role="progressbar"
                  [ngStyle]="{
                    width: calculateProgress(
                      userData.userStatistics.showStatistics.plannedToWatch,
                      userData.userStatistics.showStatistics.total
                    )
                  }"
                >
                  {{ userData.userStatistics.showStatistics.plannedToWatch }}
                </div>
                <div
                  pTooltip="Skipping"
                  tooltipPosition="top"
                  class="progress-bar bg-skipping"
                  role="progressbar"
                  [ngStyle]="{
                    width: calculateProgress(
                      userData.userStatistics.showStatistics.skipping,
                      userData.userStatistics.showStatistics.total
                    )
                  }"
                >
                  {{ userData.userStatistics.showStatistics.skipping }}
                </div>
              </div>

              <div class="row mx-3 mt-3">
                <div class="col status-button">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="16"
                    height="16"
                    fill="#90caf9"
                    class="bi bi-circle-fill"
                    viewBox="0 0 16 16"
                  >
                    <circle cx="8" cy="8" r="8" />
                  </svg>
                  <span class="ml-2"> Completed </span>
                </div>

                <div class="col status-button">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="16"
                    height="16"
                    fill="#c5e1a5"
                    class="bi bi-circle-fill"
                    viewBox="0 0 16 16"
                  >
                    <circle cx="8" cy="8" r="8" />
                  </svg>
                  <span class="ml-2"> Watching </span>
                </div>

                <div class="col status-button">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="16"
                    height="16"
                    fill="#ffde6d"
                    class="bi bi-circle-fill"
                    viewBox="0 0 16 16"
                  >
                    <circle cx="8" cy="8" r="8" />
                  </svg>
                  <span class="ml-2"> Considering </span>
                </div>

                <div class="col status-button">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="16"
                    height="16"
                    fill="#ef9a9a"
                    class="bi bi-circle-fill"
                    viewBox="0 0 16 16"
                  >
                    <circle cx="8" cy="8" r="8" />
                  </svg>
                  <span class="ml-2"> Skipping </span>
                </div>
              </div>

              <div class="row d-flex mt-2">
                <div class="col-sm d-flex">
                  <h5 class="mr-3">Avarage rating:</h5>
                  <p-tag
                    [value]="
                      userData.userStatistics.showStatistics.averageScore
                    "
                  ></p-tag>
                </div>
                <div class="col-sm d-flex">
                  <h5 class="mr-3">Total entries:</h5>
                  <p-tag
                    [value]="userData.userStatistics.showStatistics.total"
                  ></p-tag>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="p-shadow-20 p-4 w-100">
            <div>
              <h3 class="px-3">Movies Statistics</h3>
              <div class="progress mx-3">
                <div
                  pTooltip="Completed"
                  tooltipPosition="top"
                  class="progress-bar bg-completed"
                  role="progressbar"
                  [ngStyle]="{
                    width: calculateProgress(
                      userData.userStatistics.movieStatistics.finished,
                      userData.userStatistics.movieStatistics.total
                    )
                  }"
                >
                  {{ userData.userStatistics.movieStatistics.finished }}
                </div>
                <div
                  pTooltip="Watching"
                  tooltipPosition="top"
                  class="progress-bar bg-watching"
                  role="progressbar"
                  [ngStyle]="{
                    width: calculateProgress(
                      userData.userStatistics.movieStatistics.watching,
                      userData.userStatistics.movieStatistics.total
                    )
                  }"
                >
                  {{ userData.userStatistics.movieStatistics.watching }}
                </div>
                <div
                  pTooltip="Considering"
                  tooltipPosition="top"
                  class="progress-bar bg-considering"
                  role="progressbar"
                  [ngStyle]="{
                    width: calculateProgress(
                      userData.userStatistics.movieStatistics.plannedToWatch,
                      userData.userStatistics.movieStatistics.total
                    )
                  }"
                >
                  {{ userData.userStatistics.movieStatistics.plannedToWatch }}
                </div>
                <div
                  pTooltip="Skipping"
                  tooltipPosition="top"
                  class="progress-bar bg-skipping"
                  role="progressbar"
                  [ngStyle]="{
                    width: calculateProgress(
                      userData.userStatistics.movieStatistics.skipping,
                      userData.userStatistics.movieStatistics.total
                    )
                  }"
                >
                  {{ userData.userStatistics.movieStatistics.skipping }}
                </div>
              </div>

              <div class="row mx-3 mt-3">
                <div class="col status-button">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="16"
                    height="16"
                    fill="#90caf9"
                    class="bi bi-circle-fill"
                    viewBox="0 0 16 16"
                  >
                    <circle cx="8" cy="8" r="8" />
                  </svg>
                  <span class="ml-2"> Completed </span>
                </div>

                <div class="col status-button">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="16"
                    height="16"
                    fill="#c5e1a5"
                    class="bi bi-circle-fill"
                    viewBox="0 0 16 16"
                  >
                    <circle cx="8" cy="8" r="8" />
                  </svg>
                  <span class="ml-2"> Watching </span>
                </div>

                <div class="col status-button">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="16"
                    height="16"
                    fill="#ffde6d"
                    class="bi bi-circle-fill"
                    viewBox="0 0 16 16"
                  >
                    <circle cx="8" cy="8" r="8" />
                  </svg>
                  <span class="ml-2"> Considering </span>
                </div>

                <div class="col status-button">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="16"
                    height="16"
                    fill="#ef9a9a"
                    class="bi bi-circle-fill"
                    viewBox="0 0 16 16"
                  >
                    <circle cx="8" cy="8" r="8" />
                  </svg>
                  <span class="ml-2"> Skipping </span>
                </div>
              </div>

              <div class="row d-flex mt-2">
                <div class="col-sm d-flex">
                  <h5 class="mr-3">Avarage rating:</h5>
                  <p-tag
                    [value]="
                      userData.userStatistics.movieStatistics.averageScore
                    "
                  ></p-tag>
                </div>
                <div class="col-sm d-flex">
                  <h5 class="mr-3">Total entries:</h5>
                  <p-tag
                    [value]="userData.userStatistics.movieStatistics.total"
                  ></p-tag>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4 mt-3">
        <div class="row h-100">
          <div class="p-shadow-20 p-4 w-100">
            <div>
              <h5 class="px-3">Last Series Updates:</h5>
              <hr
                style="border-top: 1px solid #e2e2e2; margin-left: 20px"
                class="w-25"
              />

              <div
                class="ml-2 mb-2"
                *ngFor="let history of userData?.userHistory; let i = index"
              >
                <div class="d-flex justify-content-between">
                  <span
                    class="entry-page-link"
                    (click)="openShowPage(history.id, history.title)"
                    >{{ i + 1 }}. {{ history.title }}</span
                  >
                  <span class="text-muted ml-5">{{ history.editDate }}</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-12 mt-3">
        <div class="p-shadow-20 p-4 w-100">
          <h3 class="mb-3 ml-3">Favorites</h3>
          <div>
            <p-carousel
              [value]="userData.userFavorites"
              styleClass="custom-carousel"
              [numVisible]="4"
              [numScroll]="1"
              [circular]="true"
              [responsiveOptions]="responsiveOptions"
            >
              <ng-template let-favorite pTemplate="item">
                <app-custom-card
                  [cardContent]="favorite"
                  [isUserPage]="true"
                ></app-custom-card>
              </ng-template>
            </p-carousel>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
