<p-menubar [model]="items">
  <ng-template pTemplate="start">
    <button
      pButton
      pRipple
      type="button"
      icon="pi pi-align-justify"
      label="Menu"
      class="p-button-outlined mr-3"
      (click)="visibleSidebar = true"
    ></button>
    <div class="p-inputgroup">
      <button
        pButton
        pRipple
        type="button"
        label="{{ searchType ? (searchType | titlecase) : 'Search' }}"
        icon="pi pi-angle-down"
        iconPos="right"
        (click)="op.toggle($event)"
      ></button>

      <input [(ngModel)]="searchKeyword" type="text" pInputText placeholder="Keyword" />
      <button
        type="button"
        pButton
        pRipple
        icon="pi pi-search"
        styleClass="p-button-warn"
        (click)="search()"
      ></button>
    </div>
  </ng-template>
</p-menubar>

<p-sidebar
  [(visible)]="visibleSidebar"
  [fullScreen]="false"
  [baseZIndex]="10000"
>
  <button
    pButton
    pRipple
    type="button"
    label="Take me to Home page"
    class="p-button-outlined"
    (click)="redirectToHome()"
  ></button>
  <div class="ml-1 mt-2" *ngFor="let option of options">
    <h4 (click)="redirectGenre(option)" class="entry-page-link">
      {{ option }}
    </h4>
  </div>
</p-sidebar>

<p-overlayPanel #op [dismissable]="true">
  <ng-template pTemplate>
    <div class="d-flex align-items-center px-2">
      <i class="mr-1 pi pi-play" style="font-size: 1rem"></i>
      <button
        pButton
        pRipple
        type="button"
        label="Title"
        class="p-button-text"
        (click)="searchType = 'title'"
      ></button>
    </div>
    <div class="d-flex align-items-center px-2">
      <i class="mr-1 pi pi-users" style="font-size: 1rem"></i>
      <button
        pButton
        pRipple
        type="button"
        label="Actor"
        class="p-button-text"
        (click)="searchType = 'actor'"
      ></button>
    </div>
    <div class="d-flex align-items-center px-2">
      <i class="mr-1 pi pi-tag" style="font-size: 1rem"></i>
      <button
        pButton
        pRipple
        type="button"
        label="Genre"
        class="p-button-text"
        (click)="searchType = 'genre'"
      ></button>
    </div>
  </ng-template>
</p-overlayPanel>
