// Base styles
.card {
  border: none;
  background-color: transparent;
  .wrapper {
    min-height: 312.9px;
    position: relative;
    overflow: hidden;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.2);
    &:hover {
      .data {
        transform: translateY(0);
      }
      .menu-content {
        // transform: translateY(0);
      }
    }
  }
  .menu-content{
    position: absolute;
    top: -90px;
    right: -10px;
    width: 100%;
    transform: translateY(calc(70px + 1em));
    transition: transform 0.3s;
    z-index: 1;
  }
  .data {
    position: absolute;
    bottom: 0;
    width: 100%;
    transform: translateY(calc(70px + 1em));
    transition: transform 0.3s;
    .content {
      padding: 1em;
      position: relative;
      z-index: 1;
    }
  }
}

// Second example styles
.example-2 {
  width: 210px;
  margin: auto;
  .wrapper {
    background-repeat: no-repeat;
    background-size: cover;

    &:hover {
      &:after {
        content: "";
        width: 210px;
        min-height: 312.9px;
        background-color: rgba(0, 0, 0, 0.462);
        position: absolute;
        top: 0;
        left: 0;
        z-index: 0;
      }
      .menu-content {
        span {
          transform: translate(-50%, -10px);
          opacity: 1;
        }
      }
    }
  }
  .menu-content {
    .bookmark-icon {
      cursor: pointer;
    }
  }
  .data {
    z-index: 1;
    &:hover {
      opacity: 1 !important;
    }
    color: whitesmoke;
    transform: translateY(calc(70px + 4em));
  }
}
