<div>
  <h2>List of quizes</h2>
  <div class="" *ngFor="let quiz of quizList; let i = index">
    <div class="p-shadow-13 mb-3 p-2 d-flex align-items-center">
      {{ quiz._id }}
      <div class="mt-1 ml-auto">
        <button
          pButton
          pRipple
          type="button"
          icon="pi pi-trash"
          class="p-button-danger mr-2"
          *ngIf="role === 'prof'"
          (click)="deleteQuiz(quiz._id, i)"
        ></button>

        <button
          pButton
          pRipple
          type="button"
          label="take quiz"
          (click)="takeQuiz(quiz._id)"
        ></button>
      </div>
    </div>
  </div>
</div>
