<div class="mx-auto" style="width: 80%;">
  <h2>List of quizes</h2>
  <div class="" *ngFor="let quiz of quizList; let i = index">
    <div class="p-shadow-13 mb-3 p-2 d-flex align-items-center">
      {{ quiz._id }}
      <div class="mt-1 ml-auto">
        <div class="d-flex align-items-center">
          <div
            class="student-note mr-4"
            [ngClass]="quiz.note >= 5 ? 'passing-note' : 'failing-note'"
            *ngIf="role === 'student' && quiz.note"
          >
            {{ quiz.note }} / 10
          </div>

          <button
            pButton
            pRipple
            [disabled]="quiz.note"
            type="button"
            label="take quiz"
            *ngIf="role === 'student'"
            (click)="takeQuiz(quiz._id)"
          ></button>
        </div>

        <button
          pButton
          pRipple
          type="button"
          icon="pi pi-trash"
          class="p-button-danger mr-2"
          *ngIf="role === 'prof'"
          (click)="deleteQuiz(quiz._id, i)"
        ></button>
        
        <button
          pButton
          pRipple
          type="button"
          label="edit quiz"
          *ngIf="role === 'prof'"
          (click)="editQuiz(quiz._id)"
        ></button>
      </div>
    </div>
  </div>
</div>
