<div class="checkbox-container">
  <span class="p-float-label">
    <input
      class="checkbox-question"
      type="text"
      id="question"
      pInputText
      [(ngModel)]="question"
    />
    <label for="question">Question</label>
  </span>

  <div class="p-col" *ngFor="let option of this.options; let i = index">
    <span class="p-field-checkbox">
      <button
        *ngIf="this.options.length > 1"
        pButton
        type="button"
        icon="pi pi-trash"
        class="p-button-rounded p-button-danger p-button-text"
        title="Remove Column"
        (click)="removeCheckbox(i)"
      ></button>
      <p-checkbox (onChange)="updateAnswers(i)" inputId="i"></p-checkbox>
      <label class="checkbox-option" for="i"
        ><input
          class="checkbox-option-label-input"
          type="text"
          pInputText
          [(ngModel)]="options[i].label"
      /></label>

      <i
        *ngIf="options[i].duplicate"
        class="pi pi-exclamation-circle"
        style="color: red"
      ></i>
    </span>
  </div>

  <div class="action-buttons">
    <button
      class="ml-2 p-button-rounded p-button-secondary p-button-outlined"
      pButton
      pRipple
      type="button"
      icon="pi pi-plus"
      title="Add Column"
      (click)="addCheckbox()"
      [disabled]="this.options.length === 10"
    ></button>

    <button
      pButton
      pRipple
      class="float-right p-button-outlined"
      (click)="saveQuestion()"
      type="button"
      label="Save question"
    ></button>
  </div>
</div>
