<div class="p-3">
  <div class="p-shadow-20 p-4">
    <div *ngIf="isLoginPage" class="">
      <h5>Sign in</h5>
      <div class="p-fluid">
        <div class="p-field">
          <label for="email">Email</label>
          <input
            id="email"
            type="text"
            pInputText
            [(ngModel)]="userDto.email"
            aria-describedby="username2-help"
            [ngClass]="{ 'ng-invalid ng-dirty': verifyForm(userDto.email) }"
          />
          <small
            *ngIf="verifyForm(userDto.email)"
            id="username2-help"
            class="p-error"
            >Please fill out this field</small
          >
        </div>
        <div class="p-field">
          <label for="password">Password</label>
          <input
            id="password"
            type="password"
            pInputText
            [(ngModel)]="userDto.password"
            aria-describedby="username2-help"
            [ngClass]="{ 'ng-invalid ng-dirty': verifyForm(userDto.password) }"
          />
          <small
            *ngIf="verifyForm(userDto.password)"
            id="username2-help"
            class="p-error"
            >Please fill out this field</small
          >
        </div>
      </div>

      <button
        pButton
        pRipple
        type="button"
        label="Submit"
        (click)="loginUser()"
        [disabled]="verifyForm()"
      ></button>
    </div>

    <div *ngIf="!isLoginPage" class="">
      <h5>Sign up</h5>
      <div class="p-fluid">
        <div class="p-field">
          <label for="email">Email</label>
          <input
            id="email"
            type="text"
            pInputText
            [(ngModel)]="newUser.email"
            aria-describedby="username2-help"
            [ngClass]="{ 'ng-invalid ng-dirty': verifyForm(newUser.email) }"
          />
          <small
            *ngIf="verifyForm(newUser.email)"
            id="username2-help"
            class="p-error"
            >Please fill out this field</small
          >
        </div>
        <div class="p-field">
          <label for="name">Username</label>
          <input
            id="name"
            type="text"
            pInputText
            [(ngModel)]="newUser.name"
            aria-describedby="username2-help"
            [ngClass]="{ 'ng-invalid ng-dirty': verifyForm(newUser.name) }"
          />
          <small
            *ngIf="verifyForm(newUser.name)"
            id="username2-help"
            class="p-error"
            >Please fill out this field</small
          >
        </div>
        <div class="p-field">
          <label for="password">Password</label>
          <input
            id="password"
            type="password"
            pInputText
            [(ngModel)]="newUser.password"
            aria-describedby="username2-help"
            [ngClass]="{ 'ng-invalid ng-dirty': verifyForm(newUser.password) }"
          />
          <small
            *ngIf="verifyForm(newUser.password)"
            id="username2-help"
            class="p-error"
            >Please fill out this field</small
          >
        </div>
      </div>
      <button
        pButton
        pRipple
        type="button"
        label="Submit"
        (click)="signupUser()"
        [disabled]="verifyForm()"
      ></button>
    </div>

    <div class="mt-5">
      <button
        *ngIf="isLoginPage"
        pButton
        pRipple
        type="button"
        label="Switch to sign up"
        (click)="isLoginPage = false"
      ></button>
      <button
        *ngIf="!isLoginPage"
        pButton
        pRipple
        type="button"
        label="Switch to sign in"
        (click)="isLoginPage = true"
      ></button>
    </div>
  </div>
</div>
